@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:wght@200&family=Dhurjati&family=Dosis:wght@200&family=Hedvig+Letters+Sans&family=Heebo:wght@100&family=IBM+Plex+Serif:wght@300&family=Merriweather:ital,wght@1,300&family=Noto+Sans:wght@500&family=Open+Sans:wght@300&family=Oswald&family=Poppins:wght@200&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:wght@200&family=Dhurjati&family=Dosis:wght@200&family=Hedvig+Letters+Sans&family=Heebo:wght@100&family=IBM+Plex+Serif:wght@300&family=Merriweather:ital,wght@1,300&family=Noto+Sans:wght@500&family=Open+Sans:wght@300&family=Oswald&family=Poppins:wght@200&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:wght@200&family=Dhurjati&family=Dosis:wght@200&family=Hedvig+Letters+Sans&family=Heebo:wght@100&family=IBM+Plex+Serif:wght@300&family=Merriweather:ital,wght@1,300&family=Noto+Sans:wght@500&family=Open+Sans:wght@300&family=Oswald&family=Poppins:wght@200&family=Teko:wght@300&family=Vina+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    color: azure;
}
html {
    scroll-behavior: smooth;
  }

/* section1 */
.logo img{
    border-radius: 100px;
    border: 5px solid rgb(245, 245, 245);
}

.navbar
{
    display: flex;
    list-style: none;
    background-color: rgb(0, 0, 0);
}
.list li
{
    list-style: none;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 40px;
}
.list ul
{
    display: flex;

}
.list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 11px;
    transition: 0.3s;
   
}

.list ul li a:hover
{
    background-color: rgb(114, 108, 108);
    border-radius: 5px;
}
.list{
   position: absolute;
   left: 20%;
}

/* section2 */
.banner
    {
        background-image: url(https://miro.medium.com/v2/resize:fit:980/0*j5SYN46aVLKCLawA.png);
        width:100%;
        height: 700px;
      background-size: cover;
        background-repeat: no-repeat;
        
    }

   .p1 
    {
        position: absolute;
        left: 50%;
        top: 50%;  
    }
    .p1 p
    {
        padding-bottom: 20px;
        font-family: Bebas Neue;
        font-size: 60px;
        margin-left: 150px;
      
    }
    .p1 h3{
        font-size: 40px;
        padding-left: 150px;
    }
    
/* section3 */
.intro
    {
        width: 700px;
        height: 400px;
        background-image: url(https://image.cnbcfm.com/api/v1/image/104300870-steve_jobs.jpg?v=1532563905&w=740&h=416&ffmt=webp&vtcrop=y);
        background-repeat: no-repeat;
       background-position: cover;
       color: antiquewhite;
       
    }
    .p2{
          position: relative;
          left: 90%;
          font-size: 20px;
    font-family: Hedvig Letters Sans;
    text-align: justify;
    letter-spacing: 1px;       
    }
    .intro h1{
        font-family: Teko;
        font-size: 50px;
        text-align: center;
    }
    
 /* section4 */
 .history
 {
    background-image: url(https://images.squarespace-cdn.com/content/v1/6196952c20cdd4400fd36434/c3958a3c-37c0-4d68-a56f-20aebc36a88b/how+to+pitch+like+steve+jobs+1.png?format=1500w);
    width: 100%;
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
 }
 .history p{
    padding-right: 520px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 0px;
    text-align: justify;
    padding-left: 30px;
    font-family: Hedvig Letters Sans;
    
 }
 .history h1
 {
   padding-top: 130px;
   padding-left: 30px;
   
 }
 /* .section5 */
 .iframe p

 {
   font-size: 20px;
   padding-left: 20px;
   text-align: justify;
   letter-spacing: 1px;
   font-family: Hedvig Letters Sans;
   
 }

 /* section6 */
 .details
 {
    margin-top: 40px;
 }
 .details h1{
    text-align: center;
    padding-bottom: 20px;
 }
 .details h3{

    font-size: 30px;
    position: relative;
    padding-left: 40px;
 }
 .details p
 {
    font-size: 20px;
    font-family: Hedvig Letters Sans;
    padding-right: 120px;
    text-align: justify;
    padding-left: 20px;
 }
 .details img
 {
    width: 400px;
    height: 400px;
    position: relative;
    right: 40px;
 }
 .details ul #hr
 {
 display: flex;
 margin-top: 30px;
 }

 /* //section7 */
 .col1 h2
 {
    text-align: center;
 }
 .col1 h1{
    padding-left: 20px;
 }
 .col1 ul li
 {
    margin-left: 40px;
    font-size: 18px;
    
    
 }
 .col1 p{
     font-size: 20px;
     text-align: justify;
     padding-left: 20px;
    
 }
 #h4
 {
    padding-left: 20px;
 }
 .col1{
    margin-top: 80px;
 }
 .aw
 {
    display: flex;
 }
 .col2 img
 {
   
    width: 700px;
    height: 615px; 
    position: relative;
    left: 30px;
    top: 150px;
 }

 /* .section8 */
 .col51
{
    background-image: url(https://allaboutstevejobs.com/resources/img/pics/1957-01-01_00002.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;

}
.col52
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1995-01-01_00981.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    margin-left: 50px;

}

.col53
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1976-01-01_00030.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    margin-left: 50px;

}

.col54
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1989-01-01_08549.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    margin-left: 50px;

}
.row5
{
    display: flex;

}
#sd
{
   margin: 40px;
}

/* section9 */
/* .footer{
    display: flex;
    justify-content: space-around;
    justify-items: center;
} */
nav ul{
    display: flex;
    justify-content: space-between;
    justify-items: center;  
    text-align: justify;
    font-family: Hedvig Letters Sans;
    
}
#ad
{
    margin: 100px;
}
nav{
    padding: 50px;
}
#em
{
    margin-left: 150px;
}
.loc
{
   text-align: center;
   margin-top: 40px;

}


/* *************************************************************************************************************************** */
/* section2 */

@media screen and (max-width:400px) 
{
    /* section1 */
html body
{
    width: 480px;
    height: 480px;
    margin: 0px;
    height: 0px;
    overflow-x: hidden;
}
.logo img{
    border-radius: 100px;
    border: 5px solid rgb(245, 245, 245);
}

.navbar
{
    display: flex;
    list-style: none;
    background-color: rgb(0, 0, 0);
    height: 400px;
}
.list li
{
    list-style: none;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 40px;
}
.list ul
{
   flex-direction: column;


}
.list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.list{
   position: absolute;
   text-align: center;
 padding-left: 26px;
   margin-top: 60px;
}

/* section2 media */
.banner
    {
        background-image: url(https://miro.medium.com/v2/resize:fit:980/0*j5SYN46aVLKCLawA.png);
        width:100%;
        height: 700px;
      background-size: cover;
        background-repeat: no-repeat;
        
    }

   .p1 
    {
        position: absolute;
        left: 10%;
        top: 90%;  
    }
    .p1 p
    {
        padding-bottom: 20px;
        font-family: Bebas Neue;
        font-size: 28px;
        position: relative;
        right: 50%;
    }
    .p1 h3{
        font-size: 28px;
        position: relative;
        right: 50%;
        font-size: 21px;
    }
    

   /* section3 */
.intro
{
    width: 100%;
    height: 900px;
    background-image: url(https://image.cnbcfm.com/api/v1/image/104300870-steve_jobs.jpg?v=1532563905&w=740&h=416&ffmt=webp&vtcrop=y);
    background-repeat: no-repeat;
   background-position: center;
   color: antiquewhite;
   position: relative;
   bottom: 320px;
}
.p2{
    padding-top: 80px;
    padding-right: 50px;
      position: relative;
      left: 2%;
      font-size: 17px;
font-family: Hedvig Letters Sans;
text-align: justify;
letter-spacing: 1px;   
text-shadow: 3px 3px 8px black;    
}
.intro p
{
    position: relative;
    top: 640px;
    padding-right: 50px;
}
.intro h1{
    font-family: Teko;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 640px;
}

/* section4 */
.history
{
   background-image: url(https://images.squarespace-cdn.com/content/v1/6196952c20cdd4400fd36434/c3958a3c-37c0-4d68-a56f-20aebc36a88b/how+to+pitch+like+steve+jobs+1.png?format=1500w);
   width: 100%;
   height: 800px;
   background-position: left;
   background-repeat: no-repeat;
   margin-top: 30px;
}
.history p{
   padding-right: 90px;
   font-size: 18px;
   letter-spacing: 1px;
   margin-top: 30px;
   text-align: justify;
   padding-left: 10px;
   text-align: center;
   text-align: justify;
}
.history h1
{
  padding-top: 10px;
  padding-left: 30px;
  
}

/* .section5  media*/
iframe
{
    width: 480px;
}
.iframe p

{

  font-size: 18px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 90px;
  text-align: justify;
  letter-spacing: 1px;
  /* text-align: center; */
  font-family: Hedvig Letters Sans;
  
}
/* section6 */
.details
{
   margin-top: 40px;
}
.details h1{
   text-align: center;
   padding-bottom: 20px;
}
.details h3{

   font-size: 30px;
   position: relative;
   padding-left: 40px;
   margin: 20px;
}
.details p
{
   font-size: 20px;
   font-family: Hedvig Letters Sans;
   padding-right: 90px;
   text-align: justify;
   padding-left: 20px;
}
.details img
{
   width: 300px;
   height: 400px;
   position: relative;
   left: 40px;
   margin:20px
}
.details ul #hr
{
flex-direction: column;
margin-top: 30px;
}

/* //section7 */
.col1 h2
{
   text-align: center;
}
.col1 h1{
   padding-left: 20px;
}
.col1 ul li
{
   margin-left: 40px;
   font-size: 18px;
   
   
}
.col1 p{
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 90px;
   
}
#h4
{
   padding-left: 20px;
}
.col1{
   margin-top: 80px;
}
.aw
{
  flex-direction: column;
}
.col2 img
{
  
   width: 350px;
   height: 250px; 
   position: relative;
   left: 20px;
   top: 30px;
}

/* .section8 */
.col51
{
    background-image: url(https://allaboutstevejobs.com/resources/img/pics/1957-01-01_00002.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;

}
.col52
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1995-01-01_00981.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 50px;

}

.col53
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1976-01-01_00030.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    margin-left: 50px;

}

.col54
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1989-01-01_08549.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;

}
.row5
{
   flex-direction: column;
   /* align-items: center; */

}
#sd
{
   margin-top: 120px;
   position: relative;
   right: 40px;

}

/* section9 */
/* .footer{
    display: flex;
    justify-content: space-around;
    justify-items: center;
} */
nav ul{
   flex-direction: column;
    justify-content: space-between;
    justify-items: center;  
    text-align: justify;
    font-family: Hedvig Letters Sans;
    
}
#ad
{
    margin: 50px;
}
nav{
    padding: 50px;
}
#em
{
    margin-left: 10px;
    padding-bottom: 60px;
    font-size: 20px;
    text-align: center;
}
#em a
{
    padding:10px;
}
.loc
{
   /* text-align: center; */
   margin-top: 40px;

}
.loc iframe
{
   width: 300px;
   margin-bottom: 10px;
}


}
@media screen and (max-width: 992px)
{
html body
{
    width: 480px;
    height: 480px;
    margin: 0px;
    height: 0px;
    overflow-x: hidden;
}
.logo img{
    border-radius: 100px;
    border: 5px solid rgb(245, 245, 245);
}

.navbar
{
    display: flex;
    list-style: none;
    background-color: rgb(0, 0, 0);
    height: 400px;
}
.list li
{
    list-style: none;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 40px;
}
.list ul
{
   flex-direction: column;


}
.list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.list{
   position: absolute;
   text-align: center;
 padding-left: 26px;
   margin-top: 60px;
}

/* section2 media */
.banner
    {
        background-image: url(https://miro.medium.com/v2/resize:fit:980/0*j5SYN46aVLKCLawA.png);
        width:100%;
        height: 700px;
      background-size: cover;
        background-repeat: no-repeat;
        
    }

   .p1 
    {
        position: absolute;
        left: 10%;
        top: 90%;  
    }
    .p1 p
    {
        padding-bottom: 20px;
        font-family: Bebas Neue;
        font-size: 28px;
        position: relative;
        right: 50%;
    }
    .p1 h3{
        font-size: 28px;
        position: relative;
        right: 50%;
        font-size: 21px;
    }
    

   /* section3 */
.intro
{
    width: 100%;
    height: 900px;
    background-image: url(https://image.cnbcfm.com/api/v1/image/104300870-steve_jobs.jpg?v=1532563905&w=740&h=416&ffmt=webp&vtcrop=y);
    background-repeat: no-repeat;
   background-position: center;
   color: antiquewhite;
   position: relative;
   bottom: 320px;
}
.p2{
    padding-top: 80px;
    padding-right: 50px;
      position: relative;
      left: 2%;
      font-size: 17px;
font-family: Hedvig Letters Sans;
text-align: justify;
letter-spacing: 1px;   
text-shadow: 3px 3px 8px black;    
}
.intro p
{
    position: relative;
    top: 640px;
    padding-right: 50px;
}
.intro h1{
    font-family: Teko;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 640px;
}

/* section4 */
.history
{
   background-image: url(https://images.squarespace-cdn.com/content/v1/6196952c20cdd4400fd36434/c3958a3c-37c0-4d68-a56f-20aebc36a88b/how+to+pitch+like+steve+jobs+1.png?format=1500w);
   width: 100%;
   height: 800px;
   background-position: left;
   background-repeat: no-repeat;
   margin-top: 30px;
}
.history p{
   padding-right: 90px;
   font-size: 18px;
   letter-spacing: 1px;
   margin-top: 30px;
   text-align: justify;
   padding-left: 10px;
   text-align: center;
   text-align: justify;
}
.history h1
{
  padding-top: 10px;
  padding-left: 30px;
  
}

/* .section5  media*/
iframe
{
    width: 480px;
}
.iframe p

{

  font-size: 18px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 90px;
  text-align: justify;
  letter-spacing: 1px;
  /* text-align: center; */
  font-family: Hedvig Letters Sans;
  
}
/* section6 */
.details
{
   margin-top: 40px;
}
.details h1{
   text-align: center;
   padding-bottom: 20px;
}
.details h3{

   font-size: 30px;
   position: relative;
   padding-left: 40px;
   margin: 20px;
}
.details p
{
   font-size: 20px;
   font-family: Hedvig Letters Sans;
   padding-right: 90px;
   text-align: justify;
   padding-left: 20px;
}
.details img
{
   width: 300px;
   height: 400px;
   position: relative;
   left: 40px;
   margin:20px
}
.details ul #hr
{
flex-direction: column;
margin-top: 30px;
}

/* //section7 */
.col1 h2
{
   text-align: center;
}
.col1 h1{
   padding-left: 20px;
}
.col1 ul li
{
   margin-left: 40px;
   font-size: 18px;
   
   
}
.col1 p{
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 90px;
   
}
#h4
{
   padding-left: 20px;
}
.col1{
   margin-top: 80px;
}
.aw
{
  flex-direction: column;
}
.col2 img
{
  
   width: 350px;
   height: 250px; 
   position: relative;
   left: 20px;
   top: 30px;
}

/* .section8 */
.col51
{
    background-image: url(https://allaboutstevejobs.com/resources/img/pics/1957-01-01_00002.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;

}
.col52
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1995-01-01_00981.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 50px;

}

.col53
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1976-01-01_00030.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    margin-left: 50px;

}

.col54
{
    background-image: url(https://allaboutstevejobs.com/resources/img/thumbs/pics_highlights/1989-01-01_08549.jpg);
    background-color: aqua;
    width: 300px;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;

}
.row5
{
   flex-direction: column;
   /* align-items: center; */

}
#sd
{
   margin-top: 120px;
   position: relative;
   right: 40px;

}

/* section9 */
/* .footer{
    display: flex;
    justify-content: space-around;
    justify-items: center;
} */
nav ul{
   flex-direction: column;
    justify-content: space-between;
    justify-items: center;  
    text-align: justify;
    font-family: Hedvig Letters Sans;
    
}
#ad
{
    margin: 50px;
}
nav{
    padding: 50px;
}
#em
{
    margin-left: 10px;
    padding-bottom: 60px;
    font-size: 20px;
    text-align: center;
}
#em a
{
    padding:10px;
}
.loc
{
   /* text-align: center; */
   margin-top: 40px;

}
.loc iframe
{
   width: 300px;
   margin-bottom: 10px;
}

}
